{% extends "base.html" %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="/data_mobil">Admin</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Data Alternatif</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Data Alternatif</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        </div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user cursor-pointer"></i>
              <span class="d-sm-inline d-none">{% if session['logged_in'] == True %}Admin{% else %}Guest{% endif %}</span>
            </a>
            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="/logout">
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">Logout</span>
                      </h6>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-md-8"><h6>Data Alternatif</h6></div>
              <div class="col-md-4" align="right">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-tambah" type="button" align="right">Tambah</button>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">ID</th>
                    <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">Merk</th>
                    <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">Model</th>
                    <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">Varian</th>
                    {% for item in crit %}
                    <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">{{item[0]}}</th>
                    {% endfor %}
                    <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder ">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in mobil %}
                  <tr>
                    <td class="align-middle text-center text-sm">
                      <span class="text-center text-uppercase text-primary text-xxs font-weight-bolder">{{item[0]}}</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-center text-uppercase text-dark text-xxs font-weight-bolder">{{item[1]}}</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-center text-uppercase text-dark text-xxs font-weight-bolder">{{item[2]}}</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-center text-uppercase text-dark text-xxs font-weight-bolder">{{item[3]}}</span>
                    </td>
                    {% for items in rows[loop.index0] %}
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-secondary">{{items}}</span>
                    </td>
                    {% endfor %}
                    <td class="align-middle text-center text-sm">
                      <a href="javascript:;" class="badge badge-sm bg-gradient-info" data-toggle="tooltip" data-original-title="detail mobil">
                        Detail
                      </a>
                      <a href="javascript:;" class="badge badge-sm bg-gradient-success" data-toggle="tooltip" data-original-title="edit mobil">
                        Edit
                      </a>
                      <a href="javascript:;" class="badge badge-sm bg-gradient-danger" data-toggle="tooltip" data-original-title="delete mobil">
                        Delete
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-tambah" tabindex="-1" role="dialog" aria-labelledby="mmodal-tambah" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-primary text-gradient">Tambah Data Mobil</h3>
              </div>
              <div class="card-body">
                <form role="form text-left">
                  <div class="form-group">
                    <label for="inputmerk">Merk</label>
                    <input type="text" class="form-control" id="inputmerk" name="inputmerk" placeholder="Merk" required>
                  </div>
                  <div class="form-group">
                    <label for="inputharga">Harga</label>
                    <input type="number" class="form-control" id="inputharga" name="inputharga" placeholder="0123456789" required>
                  </div>
                  <div class="form-group">
                    <label for="inputcc">Kapasitas Silinder</label>
                    <input type="number" class="form-control" id="inputcc" name="inputcc" placeholder="0123456789" required>
                  </div>
                  <div class="form-group">
                    <label for="inputtrans">Transmisi</label>
                    <select class="form-control" id="inputtrans" name="inputtrans" required>
                      <option value="">Pilih Transmisi</option>
                      <option value="AT">Automatic</option>
                      <option value="MT">Manual</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputpenum">Kapasitas Penumpang</label>
                    <input type="number" class="form-control" id="inputpenum" name="inputpenum" placeholder="0123456789" required>
                  </div>
                  <div class="form-group">
                    <label for="inputjbmm">Jenis BBM</label>
                    <select class="form-control" id="inputjbmm" name="inputjbmm" required>
                      <option value="">Pilih Jenis BBM</option>
                      <option value="Bensin">Bensin</option>
                      <option value="Diesel">Diesel</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputkbbm">Konsumsi BBM</label>
                    <input type="number" class="form-control" id="inputkbbm" name="inputkbbm" placeholder="0123456789" required>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-round bg-gradient-primary btn-lg w-100 mt-4 mb-0">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}