{% extends "base.html" %}
{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
  <div class="container-fluid justify-content-center d-flex">
    <div class="w-25 " >
        {% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
  </div>
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm text-dark active"><a class="text-dark" href="/welcome">Home</a></li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Info</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        </div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user cursor-pointer"></i>
              <span class="d-sm-inline d-none">{% if session['logged_in'] == True %}Admin{% else %}Guest{% endif %}</span>
            </a>
            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="/logout">
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">Logout</span>
                      </h6>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Selamat Datang <span class="text-dark text-lg"> <span class="text-primary text-lg font-weight-bolder">{% if session['logged_in'] == True %}Admin{% else %}Guest{% endif %},</span> di Aplikasi SPK Pemilihan Mobil</span></h6>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header pb-0">
          <p class="text-dark text-lg font-weight-bolder">Petunjuk Penggunaan</p>
        </div>
        <div class="card-body pt-2 pb-2">
          <p class="text-dark text-lg">1. Isikan bobot pilihan yang anda inginkan</p>
          <p class="text-dark text-lg">2. Setelah semua terisi klik submit</p>
          <p class="text-dark text-lg">3. Top 5 Hasil ditampilkan menurut preferensi pilihanmu</p>
          <p class="text-dark text-lg">4. Jika ingin melihat detail, silakan klik tombol detail</p>
          <p class="text-dark text-lg">5. Tekan cetak jika ingin mencetak hasil analisa</p>
          <p class="text-dark text-lg">6. Jika ingin mengulang kembali, silakan klik tombol app spk </p>
        </div>
      </div>
      <div class="justify-content-between d-flex">
        <div class="col-md-6 mx-4 card mb-4">
          <div class="card-header pb-0">
            <p class="text-dark text-lg font-weight-bolder">Keterangan Kriteria</p>
          </div>
          <div class="card-body pt-2 pb-2">
            <p class="text-dark text-lg">1. Lorem</p>
            <p class="text-dark text-lg">2. Ipsum</p>
            <p class="text-dark text-lg">3. Dolor</p>
            <p class="text-dark text-lg">4. Sit</p>
            <p class="text-dark text-lg">5. Amet</p>
            <p class="text-dark text-lg">6. Consectetur </p>
          </div>
        </div>
        <div class="col-md-5 mx-4 card mb-4">
          <div class="card-header pb-0">
            <p class="text-dark text-lg font-weight-bolder">Keterangan Sub Kriteria</p>
          </div>
          <div class="card-body pt-2 pb-2">
            <p class="text-dark text-lg">1. Lorem</p>
            <p class="text-dark text-lg">2. Ipsum</p>
            <p class="text-dark text-lg">3. Dolor</p>
            <p class="text-dark text-lg">4. Sit</p>
            <p class="text-dark text-lg">5. Amet</p>
            <p class="text-dark text-lg">6. Consectetur </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}